:root {
    --primary: #0070D1;
    --text-dark: #1F1F1F;
    --text-light: #8E8E8E;
    --btn-dark: #363636;
    --btn-blue: #2D64E6;
    --btn-red: #CD3D0F;
    --btn-light: #D9DADC;
    --btn-lighter: #F5F5F5;
    --bg-new-exit: #1F1F1F;
    --bg-plus: #BEBCBB;
    --bg-play-now: #161C3B;
    --bg-footer: #00439C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}


/* UTILITY */

a.color_primary,
.color_primary {
    color: var(--primary);
}

.color_light {
    color: var(--text-light);
}

.btn_dark {
    background-color: var(--btn-dark);
}

.btn_red {
    background-color: var(--btn-red);
}

.btn_blue {
    background-color: var(--btn-blue);
}


/* HEADER */

.sony img {
    height: 0.9rem;
}

.dropdown-toggle::after {
    border: none;
    font: var(--fa-font-solid);
    content: "\f107";
}

.dropdown-toggle.show::after {
    content: "\f106";
}

.nav-link {
    display: flex;
    align-items: center;
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: 0;
    margin-top: 0;
}

.dropdown-menu {
    border: 0;
    border-radius: 0;
}

.dropdown-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.dropdown-menu ul .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0070d1;
}

.dropdown_img {
    height: 6rem;
}

.dropdown-item {
    color: black;
}

.dropdown-item:hover {
    box-shadow: 0 0 0px 3px #e9ecef;
    background-color: white;
}

.text_dark a,
.text_dark img {
    color: var(--text-dark);
}

.nav-link img {
    height: 12px;
}

.jumbotron {
    height: 70vh;
    background-image: url(./img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid #919191;
}

.jumbotron img {
    width: auto;
    height: 3.4rem;
}

.slider_jumbo .cards {
    position: relative;
    animation: bounce-out 1s;
}

.slider_jumbo .cards:hover {
    animation: bounce-in 1s infinite;
}

@keyframes bounce-in {
    0% {
        bottom: 0;
        left: 0;
    }
    100% {
        bottom: 15px;
        left: 0;
    }
}

@keyframes bounce-out {
    0% {
        bottom: 15px;
        left: 0;
    }
    100% {
        bottom: 0;
        left: 0;
    }
}

.slider_jumbo .cards.active {
    border: 3px solid var(--primary);
    border-radius: 23px;
}

.slider_jumbo .cards img {
    border-radius: 18px;
}

.new_product .cards {
    opacity: 0.6;
}

.new_product .cards.active {
    opacity: 1;
}

.new_product .cards.b_bottom {
    border-bottom: 1px solid blue;
}

.new_product .cards:hover {
    border-bottom: 1px solid blue;
    opacity: 1;
}

.new_product .cards_top img {
    object-fit: contain;
    aspect-ratio: 1.5 / 1;
}

.new_game {
    height: 75vh;
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.new_game img {
    width: auto;
    height: 12rem;
}

.slider_new_game {
    background-color: var(--bg-new-exit);
}

.slider_new_game .cards img {
    border-radius: 18px;
}