/* #region COMMON */

:root {
    --primary: #0070D1;
    --text-dark: #1F1F1F;
    --text-light: #8E8E8E;
    --btn-dark: #363636;
    --btn-blue: #2D64E6;
    --btn-red: #CD3D0F;
    --btn-light: #D9DADC;
    --btn-lighter: #F5F5F5;
    --bg-new-exit: #1F1F1F;
    --bg-plus: #BEBCBB;
    --bg-play-now: #161C3B;
    --bg-footer: #00439C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}


/* #endregion COMMON */


/* #region UTILITY */


/* color */

a.color_primary,
.color_primary {
    color: var(--primary);
}

.color_light {
    color: var(--text-light);
}


/* buttons */

.btn_dark {
    background-color: var(--btn-dark);
}

.btn_red {
    background-color: var(--btn-red);
}

.btn_blue {
    background-color: var(--btn-blue);
}

.btn_light {
    background-color: var(--btn-light)
}

.btn_lighter {
    background-color: var(--btn-lighter)
}

.bb_grey {
    border-bottom: 2px solid #DBDBDB;
}

.btn_dark:hover,
.btn_blue:hover,
.btn_light:hover {
    box-shadow: inset 0px 0px 0px 2px white;
}

.btn_red:hover,
.btn_lighter:hover {
    box-shadow: inset 0px 0px 0px 2px black;
}


/* unstyled list */

.unstyled {
    list-style: none;
}


/* registered and tm */

.vt-s-1 {
    font-size: 1.5rem;
    vertical-align: super;
}

.vt-s-2 {
    font-size: 0.5rem;
    vertical-align: super;
}


/* #endregion UTILITY */


/* #region HEADER */


/* sony bar */

#site_header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 92px;
    z-index: 999;
}

.sony img {
    height: 0.9rem;
}


/* #region navbar */

.dropdown-toggle::after {
    border: none;
    font: var(--fa-font-solid);
    content: "\f107";
}

.dropdown-toggle.show::after {
    content: "\f106";
}

.nav-link {
    display: flex;
    align-items: center;
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: 0;
    margin-top: 0;
}

.dropdown-menu {
    border: 0;
    border-radius: 0;
}

.dropdown-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.dropdown-menu ul .circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #0070d1;
}

.dropdown_img {
    height: 6rem;
}

.dropdown-item {
    color: black;
}

.dropdown-item:hover {
    box-shadow: 0 0 0px 3px #e9ecef;
    background-color: white;
}

.text_dark a,
.text_dark img {
    color: var(--text-dark);
}

.nav-link img {
    height: 12px;
}


/* #endregion navbar */


/* #endregion HEADER */


/* #region MAIN */


/* jumbotron*/

.jumbotron {
    height: 70vh;
    background-image: url(./img/jumbo-bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid #919191;
}

.jumbotron img {
    width: auto;
    height: 3.4rem;
}


/* slider jumbo */

.slider_jumbo .cards {
    position: relative;
    animation: bounce-out 1s;
}

.slider_jumbo .cards:hover {
    animation: bounce-in 100s infinite;
}

@keyframes bounce-in {
    0% {
        bottom: 0;
        left: 0;
    }
    1% {
        bottom: 15px;
        left: 0;
    }
    100% {
        bottom: 15px;
        left: 0;
    }
}

@keyframes bounce-out {
    0% {
        bottom: 15px;
        left: 0;
    }
    100% {
        bottom: 0;
        left: 0;
    }
}

.slider_jumbo .cards.active {
    border: 3px solid var(--primary);
    border-radius: 23px;
}

.slider_jumbo .cards img {
    border-radius: 18px;
}


/* new product */

.new_product .cards {
    opacity: 0.6;
}

.new_product .cards.active {
    opacity: 1;
    box-shadow: 0px 1px 0px 0px blue;
}

.new_product .cards:hover {
    opacity: 1;
    box-shadow: 0px 1px 0px 0px blue;
}

.new_product .cards_top img {
    object-fit: contain;
    aspect-ratio: 1.5 / 1;
}


/* new game */

.new_game {
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.new_game img {
    width: auto;
    height: 11rem;
}


/* slider new game */

.slider_new_game {
    background-color: var(--bg-new-exit);
}

.slider_new_game .cards img {
    border-radius: 18px;
}


/* playstation plus */

.ps_plus {
    background-color: var(--bg-plus);
}

.ps_plus .plus_img img,
.ps_now .now_img img {
    height: 7rem;
}


/* playstation now */

.ps_now {
    background-color: var(--bg-play-now);
}


/* region follow */

.follow .col:hover {
    transform: translateY(-12px);
}


/* #endregion MAIN*/


/* #region FOOTER */

#site_footer {
    background-color: var(--bg-footer);
}

.ps_img img {
    height: 6rem;
}

.footer_lang img {
    height: 1.2rem;
}

#site_footer li a {
    color: white;
    font-size: 1.2rem;
    line-height: 2.3rem;
}

.logo_sony_interactive img {
    height: 5rem;
}

.copyright a {
    color: white;
    text-decoration: underline;
}

#site_footer li:hover a {
    box-shadow: 0px 2px 0px 0px white;
}


/* #endregion FOOTER */


/* #region BREAKPOINT */

@media screen and (max-width:991.98px) {
    .md_hidden {
        display: none;
    }
}

@media screen and (min-width:1200px) {
    .w_50 {
        width: 50%;
    }
}

@media screen and (min-width:1920px) {
    .container {
        max-width: 1880px;
    }
}

@media screen and (min-width:2600px) {
    .container {
        max-width: 2520px;
    }
}

@media screen and (min-width:3000px) {
    .container {
        max-width: 2920px;
    }
}


/* #endregion BREAKPOINT */